{% extends 'base.html' %}
{% block content %}

<h1>Bike Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ bike.brand }}</span>
    <p>Model: {{ bike.model }}</p>
    <p>Description: {{ bike.description|linebreaks }}</p>
    {% if bike.year > 0 %}
      <p>Year: {{ bike.year }}</p>
    {% else %}
      <p>Year: Kitten</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'bikes_update' bike.id %}">Edit</a>
    <a href="{% url 'bikes_delete' bike.id %}">Delete</a>
  </div>
</div>

{% endblock %}